@import '../util/variable';

.menu-serie{
    height: 50px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px auto;
    a{
        color: white;
        text-decoration: none;
        background-color: $color-tri;
        border-radius: 50%;
        padding: 4px 13px;
    }
}