.apropos{
    display: flex;
    justify-content: space-around;
}

.parcours{
    margin-bottom: 50px;
}

.reves{
    margin-top: 50px;
}

p{
    text-align: justify;
}

.texte-propos{
    width: 40%;
}