.container_index{
    width: 20%;
    margin-left: auto;
    padding: 50px 110px 50px 25px;
}
.principal_index{
    text-align: justify;
    .titre_bloc{
        display: block;
        text-align: center;
    }
    .italic{
        font-style: italic;
    }
}
.logo_index{
    height: 500px;
    text-align: center;
    background-color: bisque;
}
