.container_index{
    width: 40%;
    margin-left: auto;
    padding: 50px;
}
.principal_index{
    text-align: justify;
    span{
        display: block;
        text-align: center;
    }
}
.logo_index{
    height: 500px;
    text-align: center;
    background-color: bisque;
}
